.rounded_corner_60 {
  border-radius: 25px;
  background: #000000;
  padding: 4px; 
  width: 200px;
  height: 150px;  
}

.fullcard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
	
.cardContent {
        margin-Horizontal: 18px;
        margin-Vertical: 20px;
    }
